<section class="verbeterenWrapper" id="innovation">
  <%- include('../atoms/lc-verbeteren.ejs'); %>

  <!-- MELDING MAKEN  -->
  <%- include('../atoms/verbazingMelden.ejs'); %>

  <!-- Verbazing inzien  -->
  <%- include('../atoms/verbazingOverzicht.ejs'); %>

  <!-- Verbazing details inzien  -->
  <%- include('../atoms/verbazingDetails.ejs'); %> <%-
  include('../atoms/verbazingDetailsER.ejs'); %>

  <!-- Verbazing details inzien  -->
  <%- include('../atoms/inputpage.ejs'); %> <%-
  include('../atoms/inputpageVLER.ejs'); %>

  <div class="mc-verbeteren">
    <h2>Verbeterprojecten</h2>
    <div class="lc-verbeteren-wrapper">
      <div class="verb-notification">
        <p class="vbp-notification-text"></p>
      </div>

      <div class="searchbar">
        <form action="">
          <input
            type="text"
            class="searchbar"
            placeholder="zoeken naar verbeterprojecten"
          />
        </form>
        <!-- when to submit?? -->
      </div>

      <!-- verbeterprojecten -->
      <%- include('../atoms/verbeterprojecten.ejs'); %>
    </div>
  </div>

  <div class="rc-verbeteren">
    <h2>Successen</h2>

    <div class="lc-verbeteren-wrapper">
      <div class="verb-notification">
        <p class="succes-notification-text"></p>
      </div>

      <div class="searchbar">
        <form action="">
          <input
            type="text"
            class="searchbar"
            placeholder="zoeken naar successen"
          />
        </form>
        <!-- when to submit?? -->
      </div>

      <div class="lc-nieuwe-verbazing">
        <div class="addBtn"><%- include('../atoms/plusSvg.ejs'); %></div>
        <p>een succes toevoegen</p>
      </div>

      <!-- verbazing -->
      <%- include('../atoms/successen.ejs'); %>
    </div>
  </div>
</section>
