<section class="verbeterenWrapper" id="innovation">
  <%- include('../atoms/lc-verbeteren.ejs'); %>

  <!-- MELDING MAKEN  -->
  <%- include('../atoms/verbazing-melden.ejs'); %>

  <!-- Verbazing inzien  -->
  <%- include('../atoms/verbazing-overzicht.ejs'); %> <%-
  include('../atoms/verbazing-overzicht-rp.ejs'); %>

  <!-- Verbazing details inzien  -->
  <%- include('../atoms/verbazing-details.ejs'); %> <%-
  include('../atoms/verbazing-details-er.ejs'); %> <%-
  include('../atoms/verbazing-details-rp.ejs'); %>

  <!-- Verbazing details inzien  -->
  <%- include('../atoms/input-page.ejs'); %> <%-
  include('../atoms/input-page-vler.ejs'); %> <%-
  include('../atoms/input-page-rp.ejs'); %>

  <div class="mc-verbeteren">
    <h2>Verbeterprojecten</h2>
    <div class="lc-verbeteren-wrapper">
      <div class="verb-notification">
        <p class="vbp-notification-text"></p>
      </div>

      <div class="searchbar">
        <form action="">
          <input
            type="text"
            class="searchbar"
            placeholder="zoeken naar verbeterprojecten"
          />
        </form>
        <!-- when to submit?? -->
      </div>

      <!-- verbeterprojecten -->
      <%- include('../atoms/verbeterprojecten.ejs'); %>
    </div>
  </div>

  <div class="rc-verbeteren active">
    <h2>Successen</h2>

    <div class="lc-verbeteren-wrapper">
      <div class="verb-notification">
        <p class="succes-notification-text"></p>
      </div>

      <div class="searchbar">
        <form action="">
          <input
            type="text"
            class="searchbar"
            placeholder="zoeken naar successen"
          />
        </form>
        <!-- when to submit?? -->
      </div>

      <div class="rc-nieuwe-verbazing">
        <div class="addBtn"><%- include('../atoms/plus-svg.ejs'); %></div>
        <p>een succes toevoegen</p>
      </div>

      <!-- verbazing -->
      <% if (successen.length > 0) { %> <%-
      include('../atoms/succes-dynamisch.ejs'); %> <% } %> <%-
      include('../atoms/successen.ejs'); %>
    </div>
  </div>

  <!-- succes melden -->
  <%- include('../atoms/succes-melden.ejs'); %>
</section>
