<section class="verbeterenWrapper" id="innovation">
  <div class="lc-verbeteren">
    <h2>Verbazingen</h2>
    <div class="lc-verbeteren-wrapper">
      <div class="verb-notification">
        <p class="verb-notification-text">
          Voor <span>1 </span> verbazing is nog niemand verantwoordelijk
        </p>
      </div>

      <div class="searchbar">
        <form action="">
          <input
            type="text"
            class="searchbar"
            placeholder="zoeken naar verbazingen"
          />
        </form>
        <!-- when to submit?? -->
      </div>

      <div class="lc-nieuwe-verbazing">
        <div class="addBtn"><%- include('../atoms/plusSvg.ejs'); %></div>
        <p>nieuwe verbazing melden</p>
      </div>

      <!-- verbazing -->
      <%- include('../atoms/verbazing.ejs'); %>
    </div>
  </div>

  <div class="mc-verbeteren">
    <h2>Verbeterprojecten</h2>
    <div class="lc-verbeteren-wrapper">
      <div class="verb-notification">
        <p class="vbp-notification-text"></p>
      </div>

      <div class="searchbar">
        <form action="">
          <input
            type="text"
            class="searchbar"
            placeholder="zoeken naar verbeterprojecten"
          />
        </form>
        <!-- when to submit?? -->
      </div>

      <!-- verbeterprojecten -->
      <%- include('../atoms/verbeterprojecten.ejs'); %>
    </div>
  </div>

  <div class="rc-verbeteren">
    <h2>Successen</h2>

    <div class="lc-verbeteren-wrapper">
      <div class="verb-notification">
        <p class="succes-notification-text"></p>
      </div>

      <div class="searchbar">
        <form action="">
          <input
            type="text"
            class="searchbar"
            placeholder="zoeken naar successen"
          />
        </form>
        <!-- when to submit?? -->
      </div>

      <div class="lc-nieuwe-verbazing">
        <div class="addBtn"><%- include('../atoms/plusSvg.ejs'); %></div>
        <p>een succes toevoegen</p>
      </div>

      <!-- verbazing -->
      <%- include('../atoms/successen.ejs'); %>
    </div>
  </div>
</section>
