<div class="ag-punten">
  <div class="agendapunt">
    <p class="ag-time">14.15</p>
    <p class="ag-subject">kamer 243</p>
    <div class="timerIcon"><%- include('../atoms/timer.ejs'); %></div>
  </div>
</div>

<div class="ag-punten">
  <div class="agendapunt">
    <p class="ag-time">14.30</p>
    <p class="ag-subject">kamer 258</p>
    <div class="timerIcon"><%- include('../atoms/timer.ejs'); %></div>
  </div>
</div>

<div class="ag-punten">
  <div class="agendapunt">
    <p class="ag-time">14.45</p>
    <p class="ag-subject">kamer 295</p>
    <div class="timerIcon"><%- include('../atoms/timer.ejs'); %></div>
  </div>
</div>

<div class="ag-punten">
  <div class="agendapunt">
    <p class="ag-time">15.00</p>
    <p class="ag-subject">kamer 236</p>
    <div class="timerIcon"><%- include('../atoms/timer.ejs'); %></div>
  </div>
</div>

<div class="ag-punten">
  <div class="agendapunt">
    <p class="ag-time">15.00</p>
    <p class="ag-subject">kamer 261</p>
    <div class="timerIcon"><%- include('../atoms/timer.ejs'); %></div>
  </div>
</div>
